/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

section {
  padding-left: 16px;
  padding-right: 16px;
}

/* Default Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg-color: #48bb78;
  --button-hover-bg-color: #38a169;
}

[data-theme='dark'] {
  --background-color: #1a202c;
  --text-color: #ffffff;
  --button-bg-color: #48bb78;
  --button-hover-bg-color: #38a169;
}



button {
  background-color: var(--button-bg-color);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

